

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cccccc;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  text-transform: uppercase;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #6699ff;
  opacity: .5;
}

.active {
  background-color: #6699ff;
  opacity: .5;
}

.topic{
  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

h1{
  margin: 0;
font-size: 62px;
font-family: Oswald, sans-serif;
text-transform: uppercase;
letter-spacing: 6px;
line-height: 1;
color: #666;

}

h2{
  color: #666;
    font-family: Oswald, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 10px auto 0;
    max-width: 75%;
    text-align: center;
    text-transform: uppercase;
}



.img3{

  text-align:center;
  position: relative;

}
.img2{

  text-align:center;

}
.bottom-right{
  color: #666666;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    bottom:8px;

}


.content{
  color: #666666;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    letter-spacing:.5px;
    vertical-align: text-top;
    line-height: 1.5;
    margin: 30px auto 0;
    max-width: 55%;
    text-align: justify;
    padding-bottom:100px;

}

.name{
  list-style-type: none;
  margin: 0px;
  padding: 7px;
  overflow: hidden;
  background-color: #cccccc;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  color: #666666;
  text-align: right;
  letter-spacing: 4px;

}

.topic1{
  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
